@media screen and (max-width: 990px) {
    .piano {
        padding: 0 30px 15px 30px;
    }
    .piano__title {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 34px;
    }
}

@media screen and (max-width: 800px) {
    .white {
        width: 70px;
        height: 170px;
        margin: 0;
    }

    .black {
        width: 30px;
        height: 80px;
        margin: 0 -13px;
    }
}

@media screen and (max-width: 660px) {
    body {
        height: 100%;
        width: 100%;
        transform: rotate(90deg);
        overflow: hidden;
    }
}

